<!DOCTYPE html>
<html>
	<head>
		<title>Demo</title>
		<%= stylesheet_link_tag "resumes" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class = "container" style = "padding-top:20px;">
			<%= yield %>
		</div>
	</body>
</html>